
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: sans-serif;
    letter-spacing: 5px;
    color: #3b3b4f;
    text-align:center;
}

.pickerContainer {
    background-color: #d0d0d5;
    padding: 5px;
    border-radius: 50px;
    width: 207px;
    margin: 50px;
}

.clearBtn {
    background-color: white;
    border: black;
}

.container {
    background-color: #0a0a23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

p{
    color: #3b3b4f;
    font-size: 10px;
    margin-bottom: 50px;
}

.canvas {
    background-color: white;
    border-color: black;
    border-radius: 10px;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="2"/></svg>') 10 10, auto;
}

.downDrawingCursor {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="black" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="1"/></svg>') 10 10, auto;
}


.clearBtn {
  background-color: #1b1b32;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 10px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.clearBtn:hover,
.clearBtn:focus {
  background-color: #2a2a40;
}

.loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    letter-spacing: 0.2em;
}

.loader::before, .loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: white;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }

  .loader::before {
    top: 0;
  }
  
  .loader::after {
    bottom: 0;
  }

  h2 {
    color: white;
    font-family: helvetica, arial, sans-serif;
  }

  @keyframes load {
    0% { left: 0; height: 30px; width: 15px }
    50% { height: 8px; width: 40px }
    100% { left: 235px; height: 30px; width: 15px}
  }